.clincher {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.clincher h1 {
    font-family: Changa One, sans-serif;
    font-size: 2rem;
    line-height: 36px;
    color: #434343;

}

.clincher p {
    line-height: 26px;
    color: #434343;
}