.hero {
    display: flex;
    align-items: center;
}

.hero__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.hero__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__header-text {
    display: flex;
    flex-direction: column;
}

.hero__category {
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: #8A53FF;
}

.hero__title {
    font-family: "Changa One", sans-serif;
    font-size: 3.125rem;
    color: #434343;
    font-weight: 400;
    letter-spacing: -2px;
}

.hero__author {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.hero__author-text {
    display: flex;
    flex-direction: column;
}

.hero__author-job-title {
    font-size: 0.875rem;
    font-style: italic;
    color: #A2A7B1;
}

.hero__video {
    border-radius: 8px;
}
