.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 8rem;
}

.footer__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.footer p,
.footer a {
    font-size: 0.875rem;
    color: #939EB4;
}